.reveal section img.mockup {
  border: 4px solid #fff;
}

.reveal section p.mono,
.reveal section ul li span.mono,
.reveal section ul li.mono {
  font-family: monospace;
  text-transform: none;
}

.reveal section h2.mono {
  text-transform: none;
  font-family: monospace;
}

.reveal section img.logo {
  width: 200px;
  background: none;
  margin: 20px;
  border: 0;
  box-shadow: none;
}


